<fieldset>
	<div class="control-group">
    <%= f.label :monto, :class => 'control-label' %>
    <div class="controls">
      	<%= f.number_field :monto, :class => 'number_field' %>
      	<%= f.hidden_field :_destroy %>
      	<%= link_to "X", '#', class: "remove_fields" %>
    </div>
</div>	
</fieldset>
